<div class="container">
  <h1 class="text-center">My dates</h1>
  <br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <h4>Dates as a host</h4>
      <% @host_meetings.each do |meeting| %>
        <div class="meeting">
          <div class="meeting-status item small">
            <div class="status">
              <p>Status: <%= meeting.status %></p>
              <% if meeting.status == "Pending" %>
                <i class="fa fa-question" aria-hidden="true"></i>
                <%= button_to("Approve", meal_meeting_path(current_user, meeting), method: :patch, params: { status: "Approved" }, class: "btn btn-success") %>
                <%= button_to("Deny", meal_meeting_path(current_user, meeting), method: :patch, params: { status: "Denied" }, class: "btn btn-danger") %>
              <% elsif meeting.status == "Approved" %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
          <div class="img-meeting item medium">
            <% if meeting.meal.photos? %>
              <%= cl_image_tag meeting.meal.photos, height: 150, width: 100, crop:fill %>
            <% else %>
              <%= image_tag("plate.jpeg", size: "150x100", alt: "plate")%>
            <% end %>
          </div>
          <div class='meeting-body item mdlarge'>
            <h4><%= meeting.meal.name.capitalize %></h4>
            <p><%= meeting.meal.description %></p>
          </div>
          <div class="participants item mdlarge">
              <p>Organizer: <%= meeting.meal.user.email %><%= meeting.meal.user.last_name %></p>
              <p>Guest: <%= meeting.user.email %> <%= meeting.user.last_name %></p>
          </div>
        </div>
      <% end %>

      <br>

      <h4>Dates as a guest</h4>
      <% @guest_meetings.each do |meeting| %>
        <div class="meeting">
          <div class="meeting-status item small">
            <div class="status">
              <p>Status: <%= meeting.status %></p>
              <% if meeting.status == "Pending" %>
                <i class="fa fa-question" aria-hidden="true"></i>
              <% elsif meeting.status == "Approved" %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
          <div class="img-meeting item medium">
            <% if meeting.meal.photos? %>
              <%= cl_image_tag meeting.meal.photos, height: 150, width: 100, crop:fill %>
            <% else %>
              <%= image_tag("plate.jpeg", size: "150x100", alt: "plate")%>
              <% end %>
          </div>
          <div class='meeting-body item mdlarge'>
            <h4><%= meeting.meal.name %></h4>
            <p><%= meeting.meal.description %></p>
          </div>
          <div class="participants item mdlarge">
            <p>Organizer: <%= meeting.meal.user.first_name %> <%= meeting.meal.user.last_name %></p>
            <p>Guest: <%= meeting.user.email %> <%= meeting.user.last_name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>


