
<h1 class="text-center">My dates</h1>

<div class="container">
  <div class="row">
  <% @guest_meetings.each do |meeting| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card"><img src="https://www.placehold.it/300/300">
        <div class="card-category">Guest</div>
        <div class="card-description">
          <h2><%= meeting.meal.name %></h2>
          <h3>Organizer: <%= meeting.meal.user.first_name %> <%= meeting.meal.user.last_name %></h3>
          <p>Guest: <%= meeting.user.first_name %><%= meeting.user.last_name %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
  <% @host_meetings.each do |meeting| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card"><img src="https://www.placehold.it/300/300">
        <div class="card-category">Host</div>
        <div class="card-description">
          <h2><%= meeting.meal.name %></h2>
          <h3>Organizer: <%= meeting.meal.user.email %> <%= meeting.meal.user.last_name %></h3>
          <h3>Guest: <%= meeting.user.email %> <%= meeting.user.last_name %></h3>
          <%= button_to('Approved', 'meal_meeting(current_user)',
          method: "patch", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-success") %>
          <%= button_to('Denied', ' meal_meeting(current_user)',
          method: "patch", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "btn btn-danger") %>
          <%= button_to("Approve", 'meal_meeting(:id)', method: :patch, params: { status: "Approved" }, class: "btn btn-success") %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
