<div class="container">
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="user-photo text-center">
           <% if @user.photo? %>
              <%= cl_image_tag @user.photo.path, width: 300, height: 300, crop: :fill, class:"avatar-polaroid" %>
            <% else %>
              <%= image_tag "default_profile.jpg", width: 300, height: 300, crop: :fill, class:"avatar-polaroid"%>
            <% end %>
            <p><%= @user.first_name %></p>
            <% if user_signed_in? && current_user == @user %>
              <%= link_to "Edit my profile", edit_user_path(current_user) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="user-information text-center">
              <h1><%= "#{@user.first_name} #{@user.last_name}"%> </h1>
              <p>Age: <%= @user.age %></p>
              <p>Gender: <%= @user.gender %></p>
               <p class="text-justify" id="user-description">Description: <%= @user.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center profile-info">
        <div id="wrapper">
          <h2>Reviews</h2>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="row">
                <% if @user.reviews.count != 0 %>
                  <% @user.reviews.each do |review| %>
                    <div class="meeting">
                      <div class="meeting-status item md">
                        <div class="status">
                          <% writer = User.find(review.reviewer) %>
                          <% if writer.photo? %>
                            <%= cl_image_tag writer.photo.path, height: 100, width: 150, crop: :fill  %>
                          <% else %>
                            <%= image_tag("default_profile.jpeg", size: "150x100", alt: "profile", class: "avatar")%>
                          <% end %>
                          <h4><%= writer.first_name %> <%= writer.last_name %></h4>
                        </div>
                        <div class="img-meeting item md">
                          <% review.star.to_i.times do %>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                          <% end%>
                        </div>
                        <div class='meeting-body item mdlarge'>
                          <p><%= review.content %></p>
                        <% end %>
                        </div>
                <% else %>
                  <p style="color: red"><%= @user.first_name %> <%= @user.last_name %> has no review yet</p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
