<div class="col-xs-12 col-md-offset-3 col-md-6">
  <div class="simple_form_for">

    <%= simple_form_for @user do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :first_name, label_input: "First Name" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :last_name, label_input: "Last Name" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= f.input :phone_number %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= f.input :age %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= f.input :gender, collection: [ "Male", "Female"] %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12  col-sm-6">
          <%= f.input :email %>
        </div>
        <div class="col-xs-12  col-sm-6">
           <%= f.input :photo, as: :attachinary %>
        </div>

    </div>

      <%= f.input :description, label_input: "About me", :input_html => {:rows => 10} %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>

  </div>
</div>
