<!-- Banner code -->
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter">
          <div class="banner">
            <div class="text-center banner-content">
              <h1>(m)eat-me</h1>
              <p>Love at first taste</p>
              <form class="form-inline" action="#">
                <input class="form-control input-lg" placeholder="type of food" type="text">
                <input class="form-control input-lg" placeholder="personality tag" type="text">
                <a class="btn btn-yours" href="#">(m)eat someone</a>
              </form>
              <%= link_to "All meals", meals_path, class: "btn btn-yours" %>
            </div>
            </div>

          </div>
        <video autoplay loop class="fillWidth">
            <source src="http://www.sciencestools.com/public/meat_me_video.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="http://sciencestools.com/public/Pour.jpg" alt="">
        </div>
    </div>
</div>
<!-- Features code -->
<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("heart.png") %>
      <h2>All you need is love</h2>
      <p>Eat well and prepare to fall in love</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("beer.png") %>
      <h2>Meet people in a relaxed environement</h2>
      <p>Have drinks with each other</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("dollar.png") %>
      <h2>Save money</h2>
      <p>Who ever said eating well would be expensive</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
    <%= image_tag("globe.png") %>
      <h2>Enjoy food from all over the world</h2>
      <p>Learn how to cook meals from different countries and cultures</p>
    </div>
  </div>
</div>
<!-- Cards code -->
<div class="wrapper-grey padded">
  <div class="container card-container">
  <h2>Last meals proposed</h2>
    <div class="row">
      <% @last_meals.each do |meal| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lewagon.github.io/ui-components/images/card-background.jpeg');">
          <div class="card-category"><%= meal.city %></div>
          <div class="card-description">
            <h2><%= meal.user.first_name %></h2>
            <p><%= meal.description %></p>
          </div>
          <img class="card-user avatar avatar-large" src="http://placehold.it/30x30" />
          <%= link_to "", meal_path(meal), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
 </div>
