<p id="notice"><%= notice %></p>

<h1>Meals</h1>

 <% @meals.each do |meal| %>
 <ul class="list-unordered">
   <li><%= meal.name %></li>
   <li><%= meal.address %></li>
   <li><%= meal.city %></li>
   <li><%= meal.date %></li>
   <li><%= meal.date %></li>
   <li><%= meal.description %></li>
   <li><%= meal.food_type %></li>
   <li><%= meal.meeting_type %></li>
   <li><%= link_to 'Show', meal %></li>
   <li><%= link_to 'Edit', edit_meal_path(meal) %></li>
 </ul>
 <% end %>



<%= link_to 'New meal', new_meal_path %>
