<h1>New Meal</h1>

<div class="container">
  <div class="row">
  <h2>Veuilez remplir les informations, ci-dessous, pour proposer votre soirée personnalisée:</h2>
  <div class="form-inputs">
    <div class="col-sm-offset-4 col-sm-4"><%= simple_form_for(@meal) do |f| %>
  <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :date %>
    <%= f.input :description %>
    <%= f.input :food_type %>
    <%= f.input :meeting_type %>
    <%= f.input :photos, as: :attachinary %>

    <div class="form-actions">
    <%= f.button :submit %>
   </div>
   <%= link_to 'Back', meals_path, class: "btn btn-primary" %>
  <% end %>
  </div>
    </div>
  </div>
</div>
