<h1>Your meal is:</h1>
<br>
<ul class="list-unordered">
  <li><%= @meal.name %></li>
  <li><%= @meal.address %></li>
  <li><%= @meal.city %></li>
  <li><%= @meal.date %></li>
  <li><%= @meal.description %></li>
  <li><%= @meal.food_type %></li>
  <li><%= @meal.meeting_type %></li>
  <li><%= link_to 'Edit', edit_meal_path(@meal) %></li>
  <li><%= link_to "Book", meetings_path(@meal.id), method: :post %></li>
</ul>

