
<div class="banner-cover-img">
  <% if @meal.photos? %>
    <div>
      <%= cl_image_tag @meal.photos.first.path, width: 1525, height: 400, crop: :fill %>
    </div>
  <% else %>
    <div> <%= image_tag "empty-plate.jpg" %></div>
  <% end %>
</div>


<div class="container meal-container">
  <div class="row" >
    <!-- DIV PRINCIPALE CENTREE -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="header-flat-details">
        <div class="header-meal-presentation">
          <h1><%= @meal.name %> </h1>
          <p><%= @meal.date.strftime('%d/%m/%Y') %> - <%= @meal.city %><%= (@meal.price.to_i > 0) ? " - #{@meal.price} €" : "" %> </p>
          <% if user_signed_in? && current_user.id == @meal.user.id %>
            <%= link_to 'Edit', edit_meal_path(@meal) %>
          <% end %>
        </div>
        <div class="header-meal-host text-center">
          <% if @user.photo? %>
            <%= cl_image_tag @user.photo.path, width: 300, height: 300, crop: :fill, class:"avatar-large img-circle" %>
          <% else %>
             <%= image_tag "default_profile.jpg", width: 300, height: 300, crop: :fill, class:"avatar-large img-circle"%>
          <% end %>
          <p><%= link_to @user.first_name, user_path(@user) %></p>
          <% @user.reviews.average(:star).to_i.times do %>
            <i class="fa fa-star" style="color: #ffb400"></i>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="meal-icons">
        <div class="text-center">
          <i class="fa fa-cutlery" aria-hidden="true"></i><br>
          <%= @meal.food_type %>
        </div>
        <div class="text-center">
          <i class="fa fa-fire" aria-hidden="true"></i><br>
          <%= @meal.meeting_type %>
        </div>
        <div class="text-center">
          <i class="fa fa-bed" aria-hidden="true"></i><br>
          <p>1 Bed</p>
        </div>
      </div>
      <hr>
      <div class="meal-description">
        <h3>More about the dinner</h3>
        <p><%= @meal.description %></p>
      </div>
      <div class="host-description">
        <h3>More about <%= @user.first_name %></h3>
        <p><%= @user.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="meal-book-box">
          <h3 class="text-center">Book this dinner</h3>

            <%= button_to "Book", [@meal, :meetings], class: "btn btn-primary btn-booking", style: "width: 100%" %>

        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="meal-map">
          <h3>Dinner location</h3>
            <div id="map" style="width: 80%; height: 500px;"></div>
        </div>
      </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var mealBookBox = $(".meal-book-box");
      $(window).on("scroll", function(e) {
        var divHeight = $(".meal-container").height() + 350 - $(".meal-book-box").height();
        var scroll = $(window).scrollTop();
        if (scroll > divHeight) {
          mealBookBox.removeClass("meal-book-box-fixed", 5000);
        } else if (scroll > 450) {
          mealBookBox.addClass("meal-book-box-fixed", 5000);
        } else {
          mealBookBox.removeClass("meal-book-box-fixed", 5000);
        }
      });
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });

    });
  <% end %>
<% end %>


