
 <div class="photo-container">
      <div class="banner-cover-img">
      <% @meal.photos.each do |photo| %>
        <div class= "swipebox"><%= cl_image_tag photo.path, width: 1525, height: 402, crop: :fill %></div>
      <% end %>
      </div>
  </div>

<div class="page-container" >
  <div class="row">
    <!-- DIV PRINCIPALE CENTREE -->
    <div class="col-xs-12 col-sm-offset-1 col-sm-11">

  <!-- ROW Image + titre -->
    <div class="row">
    <!-- COL -POFILE -->
      <div class="col-xs-12 col-sm-3">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 300, height: 300, crop: :fill, class:"avatar-polaroid" %>
        <% else %>
         <%= image_tag "profil.jpg", width: 300, height: 300, crop: :fill, class:"avatar-polaroid"%>
        <% end %>
        <h2><%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %></h2>
        <p><%= "Age : #{@user.age}" %></p>
        <p><%= "Gender : #{@user.gender}"%> </p>
        <h3 class="text-center">More about me !</h3>
        <p><%= @user.description %></p>
      </div>

      <!-- COL - TITRE + descr -->
        <div class="col-xs-12 col-sm-6">
            <h2><%= @meal.name %></h2>
          <div class= "text-left">
             <ul>
              <li><%= @meal.description %></li>
              <li><%= @meal.address %></li>
              <li><%= @meal.city %></li>
              <li><%= @meal.date %></li>
              <li><%= @meal.food_type %></li>
              <li><%= @meal.meeting_type %></li>
              <%= link_to 'Edit', edit_meal_path(@meal) %>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-1">
          <div class= "text-center padded features">
           <%= button_to "Book", [@meal, :meetings] %>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>







